[Unit]
Description=Your Flask App

[Service]
User=admin
ExecStart=/home/admin/openCv2/myenv/bin/python /home/admin/openCv2/OpenCv.py
WorkingDirectory=/home/admin/openCv2
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
